terraform {
  required_providers {
    google = {
      source = "hashicorp/google"
      version = "4.47.0"
    }
    google-beta = {
      source = "hashicorp/google-beta"
      version = "4.47.0"
    }
    random = {
      source = "hashicorp/random"
      version = "3.4.3"
    }
  }
}

provider "google" {
  project     = "$PROJECT_ID"
  region      = "$LOCATION"
  credentials = "/terraform/$KEYRING_KEY"
}

provider "random" {
}

provider "google-beta" {
}
